.body-style {
	font-family: "Lato", sans-serif;
	color: black;
	font-weight: 500;
	box-sizing: border-box;
	background-image: url(../images/background.svg);
	background-color: #d3d3d3;
	max-width: 100%;
}

/* main container */
.container {
	background: white;
}

/* header styling */
header {
	padding: 15px 5px;
	background: black;
	background: radial-gradient(cyan,#15c4dd);
	background-color: #1be5f3; /* For browsers which do not support gradient*/
}

.header-text {
	background-color: white;
	margin: 0 20px;
	text-align: center;
}

.header-title {
	font: 700 40px "Lato", sans-serif;
}

.header-title-name {
	background-color: #ff1493;
	color: white;
	font-size: 40px;
}

.header-title-name:hover {
	background-color: #9c27b0;
}

.header-title-surname {
	background-color: white;
	color: black;
	font-size: 35px;
	font-weight: 400;
}

.header-sub-title {
	background-color: black;
	font-weight: 400;
	color: white;
	margin: 0;
	font-family: "Marcellus SC", serif;
}

.header-sub-title:hover {
	background-color: #9e9e9e;
}

/* customized logo in .svg formate*/
.logo {
margin: 10px 0 0 10px;
width: 130px;
height: 130px;
}

.logo-style {
    box-shadow: 5px 5px 10px grey;
}

.logo-style:hover {
	box-shadow: 7px 7px 10px white;
}

/*navbar */
.navbar {
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.nav-element:hover {
    background-color: black !important;
	font-size: 20px;
}

.navbar-collapse {
    color: white;
}

/* horizontal row styling */
hr {
    background-color: grey;
    height: 1px;
}

/*main -image*/
img {
    max-width:100%;
    height: auto;
}

.main-img {
	width: 100%;
	margin-top: 25px;
}

/* main content of website- featured work*/
.content {
    margin-bottom: 30px;
}

.content-title {
    font: 600 30px "Tinos", serif;
    font-size: 30px;
    padding: 10px;
    color: black;
    text-shadow: 0 0 3px cyan;
    margin-top: 25px;
}

.content-title:hover {
    text-shadow: 0 0 3px #ffeb3b;
}

.content-elements {
    margin: 0 10px;
}

/*card */
.card {
    box-shadow: 5px 8px 7px #e0e0e0;
    transition: 0.3s;
    margin: 5px 0;
}

.card:hover {
	background-color: #9e9e9e;
	box-shadow: 10px 10px 10px #e0e0e0;
}

/* element styling*/
.element-details {
    margin: 0;
}
.element-title {
    font-family: "Economica", sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
}

.element-title-name {
    margin-top: 0;
}

.element-description {
    display: flex;
    background-color:white;
    padding-top: 10px;
}

.element-info {
    padding-left: 5px;
}

.element1-inner {
    background-color:  #ff748c;
    border: 1px solid #ff748c;
}

.element2-inner {
    background-color: #15c4dd;
    border: 1px solid #15c4dd;
}

.element3-inner {
    background-color: #00ff00;
    border: 1px solid #00ff00;
}

.element4-inner {
    background-color: #ffa500;
    border: 1px solid #ffa500;
}

.element-image {
    width: 100vw;
    max-width:100%;
}

/* View-info button */
.btn-primary1 {
    background-color: #2196f3;
    color: white;
    margin-bottom: 10px;
}

.btn-primary1:hover {
    background-color: #ffc107;
}

/* GIT link icon */
.git-link {
    padding-right: 5px;
    margin-left: auto;
    font-size: 25px;
}

.icon-color-github {
    color: black;
}

.icon-color-github:hover {
    color: #2196f3;
}

/* Modal */
.modal-header {
    background-color: #039dbb;
}

.modal-title{
	font-family: "Lato", sans-serif;
    color:white;
    text-align: center;
    font-size: 20px;
	font-weight: 600;
}

.modal-image {
	margin-bottom: 10px;
}

.modal-text {
    padding: 10px 0;
	text-align: justify;
    font-family:  "Arial", Helvetica, sans-serif;
	font-size: 14px;
}

.modal-footer {
	background-color: #039dbb;
}

/* Footer */
footer {
	background-color: #191919;
	margin-top: 30px;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
}

/* CSS for social media icons - brandico */
[class*="brandico-"]:before {
    font-family: "brandico", sans-serif;
}

.social-icon {
	letter-spacing: 5px;
}

.icon-color-twitter {
	color: #00aced;
}

.icon-color-fb {
	color: #3b5998;
}

.icon-color-gplus {
	color: #d34836;
}

.icon-hover:hover {
	color: white;
	font-size: 27px;
}

.copyright-text {
	margin-top: 15px;
	font-size: 15px;
	color: #c5bfbf;
}

/* Media queries to handle various device widths */
/* Media Query for the viewport size between 800-990px)*/
@media (min-width: 800px) and (max-width: 990px) {
    .logo {
    	   margin: 0 auto;
    	   padding-top: 10px;
    }

    .header-text {
    	   margin: 0 30%;
    }

    header {
    	   padding-bottom: 20px;
    }
}

/* Media Query for the viewport size between 451-800px */
@media screen and (min-width: 451px) and (max-width: 990px) {
    h1,
    h2,
    h3{
        text-align: center;
    }

    header {
    	padding-bottom: 20px;
        background-color: #1be5f3;
    }

    .header-text {
           margin: 0 10%;
    }

    .header-title {
        font-size: 40px;
        font-weight: 500;
    }

    .header-sub-title {
        font-size: 25px;
        padding: 2px;
        font-weight: 500;
    }

    .logo {
    	margin: 0 auto;
        width: 100px;
        height: 100px;
    	padding-top: 5px;
    }

    .card {
    	margin: 10px 0;
    }

    .arrange-elements {
    	display: flex;
    	flex-wrap: wrap;
    }

    .col-md-3 {
    	width: 50%;
    	margin: 10px auto;
    }

    .content-elements {
    	padding: 0 20px;
    }

    .element-image-size {
      max-width: 80%;
    }

    footer {
    	background: black;
    	margin-top: 25px;
    	font-size: 25px;
    	letter-spacing: 5px;
    	text-align: right;
    	padding: 15px;
    }
}

/* Media Queries for the viewport size less than 450px */
@media screen and (max-width: 450px) {
    header {
        background-color: #1BE5F3;
    }

    header {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    h1,
    h2,
    h3 {
        text-align: center;
    }

    h2,
    h3 {
    	font-weight: 500;
    }

    .header-title-name, .header-title-surname {
    	font-size: 30px;
    	font-weight: 500;
    }

    .header-sub-title {
    	font-size: 20px;
    	padding: 2px;
    	font-weight: 500;
    }

    .logo {
    	padding-top: 5px;
        width: 80px;
        height: 80px;
    	margin: 0 auto;
    }

    h2 {
    	font-size: 25px;
    }

    .card {
    	margin: 20px 0;
    }

    .col-md-3 {
    	width: 100%;
    	margin: 10px auto;
    }

    .element-img-size {
        width: 50vw;
    	margin: 0 auto;
    }

    .content-elements {
    	padding: 0 30px;
    }

    footer {
    	background: black;
    	margin-top: 20px;
    	font-size: 20px;
    	letter-spacing: 5px;
    	text-align: center;
    	padding: 15px;
    }
}

